*{
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(99, 99, 226);
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dados{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    height: 400px;
}


.sex,.date,.sub{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}


img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin-top: 10px;
}