*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100dvh;
    background-color: #282f35;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login{
    border-radius: 20px;
    background-color: rgb(37, 19, 19) ;
    box-shadow: 1px 1px 1px black;
    padding: 10px;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
    
}

.fotologin{
  background-image: url("https://pt.pngtree.com/freepng/users-vector_3725294.html");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height:100%;

}

