*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100dvh;
    background-color: #282f35;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login{
    border-radius: 20px;
    background-color: rgb(37, 19, 19) ;
    box-shadow: 1px 1px 1px black;
    padding: 10px;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
    
}